.explore {
  padding-top: 60px;
  padding-bottom: 160px;

  background-color: var(--black-background-color);
}

.explore__content-top {
  padding-top: 48px;
  padding-left: 18px;
  padding-right: 16px;
  margin-bottom: 130px;
  border-radius: 1px;
  background: linear-gradient(
      0deg,
      rgba(58, 78, 255, 0) 0%,
      rgba(156, 58, 255, 0.14) 100%
    ),
    url(../assets/img/game/bg/line-bg.webp),
    url(../assets/img/our-resources/ellipse-lg.webp);
  background-repeat: no-repeat, repeat-x;
  background-position: 50% 50%, 0 0;
  background-size: 100% 100%, auto;
  backdrop-filter: blur(15px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #7f5cff;
    box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);
  }

  &-title {
    font-size: 28px;
    line-height: 109%;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &-text {
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;

    &:nth-child(2) {
      margin-bottom: 14px;
    }
    &:nth-child(3) {
      margin-bottom: 32px;
    }
  }
  &-btn {
    display: inline-block;
    min-width: 176px;
    padding: 16px 24px;
    border-radius: 6px;
    background: var(
      --1,
      linear-gradient(99deg, #7a42f4 0%, #4642f4 100%),
      #fff
    );
    font-family: var(--secondary-font);
    font-size: 18px;
    text-align: center;
    line-height: 145%;
    margin-bottom: 34px;
  }
}

.explore__content-top-img {
  margin: 0 auto;
  width: 260px;
  height: auto;

  @media (min-width: 768px) {
    width: 569px;
  }
}
