.hero {
  min-height: 100vh;

  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../../../assets/img/hero/hero-img-bg-sm.png) lightgray -6.157px 1.828px /
      99.394% 100.571% no-repeat;

  background-position: 0 0;
  background-size: cover;

  @media (min-width: 425px) {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../../../assets/img/hero/hero-img-bg-lg.png) lightgray -8.776px 2.606px /
        99.394% 100.571% no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}
