.our-resources {
  position: relative;

  padding-top: 80px;
  padding-bottom: 180px;

  background: var(--black-background-color);

  @media (max-width: 767px) {
    background-image: url(../assets/img/our-resources/ellipse-sm.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  @media (min-width: 1440px) {
    padding-top: 30px;
    padding-bottom: 318px;
  }
}

.our-resources__content {
  @media (min-width: 768px) {
    background-image: url(../assets/img/our-resources/ellipse-lg.webp);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100% 100%;
  }

  margin-top: 47px;

  display: grid;
  row-gap: 52px;

  @media (min-width: 768px) {
    grid-template-columns: 40% 50%;
    align-items: center;
  }

  @media (min-width: 1440px) {
    margin-top: 77px;
    column-gap: 64px;
  }
}

.our-resources__content-description {
  position: relative;
  padding: 40px 0px 100px 24px;

  background-image: url(../assets/img/bg-decorate/vector-line.png);
  background-position: 0 0;
  background-repeat: repeat-y;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;

    border-radius: 5px;
    background: #bf3aff;
    box-shadow: 0px 0px 17px 0px rgba(191, 58, 255, 0.4);

    @media (min-width: 1440px) {
      width: 6px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 30px;
    right: 25px;
    width: 46px;
    height: 46px;

    background-image: url(../assets/img/bg-decorate/star-lg.svg);
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      bottom: 52px;
      right: -60px;
    }
    @media (min-width: 1920px) {
      bottom: -17%;
      right: 72%;
    }
  }

  @media (min-width: 768px) {
    padding: 14px 0px 48px 50px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: 1440px) {
    padding: 68px 0px 88px 50px;
    background-image: url(../assets/img/bg-decorate/Vector-line.svg);
  }
  @media (min-width: 1920px) {
    padding: 68px 0px 100px 125px;
  }
}

.our-resources__logo-img {
  width: 40px;
  height: 40px;

  margin-bottom: 34px;

  @media (min-width: 1440px) {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.description-content__title {
  margin-bottom: 25px;

  font-size: 24px;

  font-weight: 700;
  line-height: 109%;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    margin-bottom: 27px;
    text-align: center;
    font-size: 35px;
  }
}

.description-content__text {
  margin-bottom: 30px;

  font-family: 'Gilroy' sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  opacity: 0.6;

  @media (min-width: 1440px) {
    font-size: 20px;
    text-align: center;
  }
  @media (min-width: 1920px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 144px;
    max-width: 566.757px;
  }
}

.our-resources__content-picture {
  max-width: 771.637px;
  display: block;

  @media (max-width: 767px) {
    background-image: url(../assets/img/our-resources/Gradients-img-sm.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: 768px) {
    grid-column: 2/3;
  }
}

// ----btn---
.description-content__btn {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 145%;
  text-align: center;

  transition: box-shadow 250ms linear;

  padding: 14.417px 21.625px;

  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.56);
  background: linear-gradient(99deg, #7a42f4 0%, #4642f4 100%), #fff;

  @media (min-width: 375px) {
    min-width: 188px;
  }

  @media (min-width: 1440px) {
    border-radius: 6px;

    padding: 16px 24px;
    font-size: 18px;

    display: block;
    margin: 0 auto;
    max-width: 270px;

    &:hover {
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
  }

  @media (min-width: 1920px) {
    margin-bottom: -118px;
  }
}

.game__running-line {
  border: 1px solid rgba(255, 255, 255, 0.633);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(26.195560455322266px);
  background-image: url(../assets/img/bg-decorate/vector-line.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-size: 200% 30px;
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200%;
  transform: rotate(-9.094deg);
  z-index: 10;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  &-text {
    font-size: 52px;

    line-height: 140%;
    letter-spacing: 0.524px;
    flex-shrink: 0;

    animation: running-line 5s linear infinite;

    @keyframes running-line {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
}
