.our-team {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #0a0117;

  @media (max-width: 767px) {
    background-image: url(../assets/img/our-team/bg-mob-line.webp),
      url(../assets/img/our-team/bg-mob-color.webp);

    background-repeat: repeat-y, no-repeat;
    background-size: 100%, cover;
  }

  background-image: url(../../../assets/img/our-team/bg-desc-lines.webp),
    url(../../../assets/img/our-team/bg-desc-color.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}

.our-team__list {
  display: grid;
  row-gap: 64px;
  margin-top: 50px;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:nth-child(2) > .our-team__list-content > .our-team__list-title {
      color: #2c4dff;
    }
    &:nth-child(3) > .our-team__list-content > .our-team__list-title {
      color: #bf3aff;
    }
    &:nth-child(4) > .our-team__list-content > .our-team__list-title {
      color: #fb41ff;
    }
  }

  &-img {
    margin: 0 auto;
    width: 290px;
    height: 399px;
    margin-bottom: 13px;
  }

  &-position {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 5px;
    opacity: 0.7;
  }

  &-title {
    color: #56ffeb;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
  }
}

// ---social-list---

.inner-list {
  display: flex;
  align-items: center;
  column-gap: 14px;

  &__social-link {
    display: block;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.217);
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20.5px);
  }
}
