.roadmap {
  overflow: hidden;

  padding-top: 88px;
  padding-bottom: 157px;
  background: #090812;

  background-image: url(../assets/img/roadmap/bg-decorate/ellipse-top-lg.png),
    url(../../../assets/img/roadmap/bg-decorate/ellipse-bottom-lg.png);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;

  @media (max-width: 1439px) {
    background-image: url(../assets/img/roadmap/bg-decorate/ellipse-top-mob.png),
      url(../assets/img/roadmap/bg-decorate/ellipse-bottom-mob.png),
      url(../assets/img/roadmap/bg-decorate/ellipse-bottom-mob.png);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 50%, 100% 100%;
  }

  @media (min-width: 1440px) {
    padding-top: 219px;
    padding-bottom: 211px;
  }
}

.roadmap__content {
  max-width: 1220px;
  margin: 0 auto;
  display: grid;
  row-gap: 150px;

  margin-top: 123px;
  background-image: url(../assets/img/roadmap/bg-decorate/bg-line-sm.png),
    url(../assets/img/roadmap/bg-decorate/bg-line-two.png);
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: 1440px) {
    margin-top: 90px;
    background-image: url(../assets/img/roadmap/bg-decorate/bg-line-lg.png),
      url(../../../assets/img/roadmap/bg-decorate/bg-line-two-lg.png);
  }
}

.bg-decorate__circle {
  max-width: 418px;

  animation-name: circle;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @keyframes circle {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }
}

.content-block__title {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;

  margin-bottom: 18px;

  @media (min-width: 1440px) {
    font-size: 22px;
  }
}

.content-block__list {
  font-family: var(--secondary-font);
  font-size: 15px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.15px;

  opacity: 0.8;

  display: flex;
  flex-direction: column;
  row-gap: 15px;

  max-width: 418px;

  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.content-block__item {
  background-image: url(../assets/img/roadmap/diamond-dec.svg);
  background-repeat: no-repeat;
  padding-left: 36px;

  &_inner {
    & > span {
      margin-right: 15px;
    }
  }
}

// ------Q----

.content-block__q1 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -50%;
    left: 30%;

    @media (min-width: 768px) {
      top: -58%;
      left: 38%;
    }
    @media (min-width: 1440px) {
      top: -41%;
      left: 23%;
    }
    @media (min-width: 1920px) {
      top: -40%;
      left: 23%;
    }
  }
}
.content-block__q2 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -60%;
    left: -30%;

    @media (min-width: 768px) {
      top: -48%;
      left: -70%;
    }
    @media (min-width: 1440px) {
      top: -38%;
      left: -70%;
    }
  }
}
.content-block__q3 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -67%;
    left: 30%;

    @media (min-width: 768px) {
      top: -48%;
      left: 38%;
    }
    @media (min-width: 1440px) {
      top: -43%;
      left: 23%;
    }
    @media (min-width: 1920px) {
      top: -38%;
      left: 24%;
    }
  }
}
.content-block__q4 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -75%;
    left: -30%;

    @media (min-width: 768px) {
      top: 0;
      left: -77%;
    }

    @media (min-width: 1440px) {
      top: -44%;
      left: -70%;
    }
  }
}
