.roadmap {
  overflow: hidden;

  padding-top: 88px;
  padding-bottom: 157px;
  background: #090812;

  background-image: url(../assets/img/roadmap/bg-decorate/ellipse-top-lg.webp),
    url(../../../assets/img/roadmap/bg-decorate/ellipse-bottom-lg.webp);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;

  @media (max-width: 1439px) {
    background-image: url(../assets/img/roadmap/bg-decorate/ellipse-top-mob.webp),
      url(../assets/img/roadmap/bg-decorate/ellipse-bottom-mob.webp),
      url(../assets/img/roadmap/bg-decorate/ellipse-bottom-mob.webp);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 50%, 100% 100%;
  }

  @media (min-width: 1440px) {
    padding-top: 219px;
    padding-bottom: 284px;
  }
}

.roadmap__content {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  row-gap: 116px;

  margin-top: 123px;
  background-image: url(../assets/img/roadmap/bg-decorate/bg-line-sm.png),
    url(../assets/img/roadmap/bg-decorate/bg-line-two.png);
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: 768px) {
    background-size: 40% 89%;
  }

  @media (min-width: 1440px) {
    margin-top: 100px;
    background-image: url(../assets/img/roadmap/bg-decorate/bg-line-lg.png),
      url(../assets/img/roadmap/bg-decorate/bg-line-two-lg.png);
  }

  .item {
    &:nth-child(even) {
      margin-left: auto;
    }
  }

  &__title {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 18px;

    @media (min-width: 1440px) {
      font-size: 22px;
    }
  }
}

.bg-decorate__circle {
  display: block;
  width: 350px;
  pointer-events: none;
  animation-name: circle;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @keyframes circle {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }

  @media (min-width: 1920px) {
    width: 600px;
  }
}

.content-block__list {
  font-family: var(--secondary-font);
  font-size: 15px;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.15px;

  opacity: 0.8;

  display: flex;
  flex-direction: column;
  row-gap: 15px;

  max-width: 418px;

  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.content-block__item {
  background-image: url(../assets/img/roadmap/diamond-dec.svg);
  background-repeat: no-repeat;
  padding-left: 36px;

  &_inner {
    & > span {
      margin-right: 15px;
    }
  }
}

// ------Q----

.content-block__q1 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -170px;
    left: 30%;

    @media (min-width: 768px) {
      top: -120px;
      left: 36%;
    }
    @media (min-width: 1440px) {
      top: -130px;
      left: 26%;
    }
    @media (min-width: 1920px) {
      top: -207px;
      left: 15%;
    }
  }
}
.content-block__q2 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -210px;
    left: -30%;

    @media (min-width: 768px) {
      top: -122px;
      left: -63%;
    }
    @media (min-width: 1440px) {
      left: -60%;
    }

    @media (min-width: 1920px) {
      left: -101%;
      top: -225px;
    }
  }
}
.content-block__q3 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -74%;
    left: 30%;

    @media (min-width: 768px) {
      top: -40%;
      left: 43%;
    }
    @media (min-width: 1440px) {
      top: -33%;
      left: 29%;
    }
    @media (min-width: 1920px) {
      top: -86%;
      left: 15%;
    }
  }
}
.content-block__q4 {
  position: relative;

  & > .bg-decorate__circle {
    position: absolute;
    top: -75%;
    left: -35%;

    @media (min-width: 768px) {
      top: -108px;
      left: -59%;
    }

    @media (min-width: 1440px) {
      top: -38%;
      left: -58%;
    }
    @media (min-width: 1920px) {
      top: -48%;
      left: -90%;
    }
  }
}

// ---------list-more--------------

.list-more__box {
  max-width: 350px;

  & > ul {
    transition: all 300ms linear;
    max-height: 0;
    overflow: hidden;

    &.list-more__box_active {
      margin-top: 15px;

      & ~ .list-more__btn > svg {
        transform: rotate(180deg);
      }
    }
  }
}

.list-more__btn {
  margin-top: 23px;

  background-color: transparent;
  display: flex;
  align-items: center;

  column-gap: 10px;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  & > svg {
    transition: all 300ms linear;
  }
}
