.faq {
  padding-top: 82px;
  padding-bottom: 200px;
  background-color: #18072d;
}

// accordion-----

.accordion-faq {
  position: relative;
  max-width: 1296px;
  margin: 0 auto;
  padding: 60px 20px;
  border: 4px solid rgb(90, 8, 111);

  background: url(/assets/img/bg-decorate/vector-line.png);
  background-repeat: repeat-y;

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -5px;
    width: 45px;
    height: 45px;
    background-color: #18072d;
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 15px;
    width: 4px;
    height: 53px;
    background-color: rgb(90, 8, 111);
    transform: rotate(45deg);
  }

  &__sup-title,
  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__sup-title {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 109%;
    margin-bottom: 30px;
  }
}

// ---list----------

.list-faq {
  &__title-content {
    cursor: pointer;
    padding-bottom: 24px;
    padding-top: 18px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    &_active > .list-faq__cross {
      transform: rotate(45deg);
    }
  }

  &__cross {
    width: 16px;
    height: 2px;
    background-color: #fff;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 16px;
      background-color: #fff;
      transform: translate(7px, -7px);
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
  }

  &__description-content {
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

    max-height: 0;
    overflow: hidden;

    &-text {
      padding-top: 21px;
    }
  }
}
