:root {
  --primary-font: 'HeliosExtC', serif;
  --secondary-font: 'Plus Jakarta Display', serif;

  --white-base-color: #fff;
  --gray-base-color: #969696;
  --light-gray: #d0d0d0;

  // --dark-gray-background-color: #0f0f0f;
  --black-background-color: #090812;
}
